	{% extends 'index.html' %}
	{% load static %}

	{% block content %}
  <!--navbar section start -->
	<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
	  <div class="container-fluid p-0">
	      <!-- logo -->
	      <a class="navbar-brand" href="#">
	        <p><b style="color:Red;font-size:50px;font-family: 'Times New Roman'">E</b><span style = "font-size : 35px;color:#561e87;font-family: 'Times New Roman'">VENT_Z </span></p>
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="fa fa-bars"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarNav" >
	      <ul class="navbar-nav mx-auto " >
	        <li class="nav-item ">
	          <a class="nav-link" href="{% url 'home' %}" >Home
	            <span>/</span>
	          </a>          
	        </li>
	         <li class="nav-item" >
	          <a class="nav-link" href="#about">About Us
	            <span>/</span>
	          </a>
	        </li>        
	        <li class="nav-item">
	          <a class="nav-link" href="#event">Events<span>/</span></a>
	        </li>             
	        <li class="nav-item">
	          <a class="nav-link" href="#contact">Contact<span>/</span></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'login' %}">Login<span>/</span></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#payment">Payment</a>
	        </li>
	      </ul>
	      </div>
	  </div>
	</nav>
  <!--navbar section end -->

  <!--banner section start -->

	<section class="banner bg-banner-one overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Content Block -->
					<div class="block">
						<!-- Coundown Timer -->
						<div style ="color:white"></div>
						<h1>Business</h1>
						<h2>Expo 2021</h2>
						<h6>02-12 Dec 2021 India</h6>
						<!-- Action Button -->
					
					</div>
				</div>
			</div>
		</div>
	</section>
		
 <!--banner section end -->

  <!--about section start -->

	<section class="section about" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 align-self-center">
					<div class="image-block bg-about">
						<img class="img-fluid" src="{% static 'images/speakers/event.jpg' %}" alt="">
					</div>
				</div>
				<div class="col-lg-8 col-md-6 align-self-center" >
					<div class="content-block" >
						<h2 >About The <span class="alternate">Event_z</span></h2>
						<div class="description-one">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.
							</p>
						</div>
						<div class="description-two">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et dolore magna aliq enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
						</div>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="#" class="btn btn-main-md">Read more</a>
							</li>							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!--about section end -->



  <!--events section start -->

	<section class="sponsors section bg-sponsors overlay-white" id ="event">
		<div class="container">
			<div class="row">
	    <div class="col-12">					
					<div class="section-title white">
						<h3><span class="alternate">Events</span></h3>
					</div>
				</div>
	    {% for i in data %}
	      <div class="col-sm-4">
	        <div class="card text-center" style="width: 18rem;">
	        <h5 class="card-header">{{i.event_name}}</h5>
	          <div class="card-body">

	            <p class="card-text"><b>Desc :</b>{{i.description}}</p>
	            <br>
	            <p ><b>Date :</b>{{i.date}}</p>
	            <br>
	            <p><b>Member Count:</b>{{i.no_of_members}}</p>
	          </div>
	        </div>
	        <p> <br></p>
	      </div> 
	   {% endfor %} 
	 </div>			
	</div>
</section>
<!--event section end -->

<!--payment section start -->

	<section class="cta-ticket bg-ticket overlay-dark" id ="payment">
		<div class="container">
			<div class="row">
				<div class="col-md-8">					
					<div class="content-block">
						<h2>Payment <span class="alternate">Now!</span></h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor incidi</p>
						<a href="" class="btn btn-main-md">Buy Payment</a>
					</div>
				</div>
			</div>
		</div>
		<div class="image-block"><img src="{% static 'images/speakers/speaker-ticket.png' %}" alt="" class="img-fluid"></div>
	</section>

<!--payment section end -->

<!--sponsors section start -->

	<section class="sponsors section bg-sponsors overlay-white">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h3>Our <span class="alternate">Sponsors</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Title -->
					<div class="sponsor-title text-center">
						<h5>Platinum Sponsors</h5>
					</div>
					<div class="block text-center">
						<!-- Sponsors image list -->
						<ul class="list-inline sponsors-list">
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/pt-spon-two.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/pt-spon-two.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/pt-spon-three.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/pt-spon-four.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
						</ul>
					</div>
					<!-- Title -->
					<div class="sponsor-title text-center">
						<h5>Gold Sponsors</h5>
					</div>
					<div class="block text-center">
						<!-- Sponsors image list -->
						<ul class="list-inline sponsors-list">
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/gl-spon-one.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/gl-spon-two.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="image-block text-center">
									<a href="#">
										<img src="{% static 'images/sponsors/gl-spon-three.png' %}" alt="sponsors-logo" class="img-fluid">
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="sponsor-btn text-center">
						<a href="#" class="btn btn-main-md">Become a sponsor</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--sponsors section end -->
<!--contact section start -->
	<section class="section contact-form" id = "contact">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h3>Get in <span class="alternate">Touch</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit.</p>
					</div>
				</div>
			</div>
			<form action="#" class="row">
				<div class="col-md-6">
					<input type="text" class="form-control main" name="name" id="name" placeholder="Name">
				</div>
				<div class="col-md-6">
					<input type="email" class="form-control main" name="email" id="email" placeholder="Email">
				</div>
				<div class="col-md-12">
					<input type="text" class="form-control main" name="phone" id="phone" placeholder="Phone">
				</div>
				<div class="col-md-12">
					<textarea name="message" id="message" class="form-control main" rows="3" placeholder="Your Message"></textarea>
				</div>
				<div class="col-12 text-center">
					<button type="submit" class="btn btn-main-md">Send Message</button>
				</div>
			</form>
		</div>
	</section>
  <!--contact section end -->


	{% endblock %}




		