{% extends 'index.html' %}
{% load static %}

{% block additional_styles %}
  <title> Event_z </title>
{% endblock %}
{% block content %}
<!--navbar section start -->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">      
    <a class="navbar-brand" href="#">
      <p><b style="color:Red;font-size:50px;font-family: 'Times New Roman'">E</b><span style = "font-size : 35px;color:#561e87;font-family: 'Times New Roman'">VENT_Z </span></p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav">      
        <li class=" active" >
          <a class="nav-link " href="{% url 'home' %}">Home</a>         
        </li>         
      </ul>     
      <ul class="navbar-nav  ">
          <li class="">
            <a class="nav-link text-primary" href="#">Welcome {{request.session.username}} !!!</a>
          </li>        
          <li class="">
            <a class="nav-link text-danger mr-3" href="{% url 'logout' %}?next={% url 'login' %}">logout</a>
          </li>                   
      </ul>
  </div>
</div>
</nav> 
<!--navbar section end -->
<section class="banner section bg-registration overlay-light">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="border">
           <form action="{% url 'home' %}" method="post">
             {% csrf_token %} 
             <button type="submit" name = "confirm" class="btn btn-success btn-md " >Confirm</button> &nbsp;&nbsp;           
             <button type="button" name="cancel" class="btn btn-danger btn-sm " onclick="showcancel()"><a href= "" class="text-white" >Cancel</a></button>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>   
</section>

 <script>
  function showcancel() {
    var myText = "Forgot to add something to your cart? Shop around then come back to pay!";
    alert (myText);
  }
  </script>
{% endblock %}