{% extends 'index.html' %}
{% load static %}

{% block additional_styles %}
<title> Event_z </title>

{% endblock %}

{% block content %}
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
      <!-- logo -->
      <a class="navbar-brand" href="#">
        <p><b style="color:Red;font-size:50px;font-family: 'Times New Roman'">E</b><span style = "font-size : 35px;color:#561e87;font-family: 'Times New Roman'">VENT_Z </span></p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav  ">
      
        <li class=" active" >
          <a class="nav-link " href="{% url 'home' %}">Home</a>         
        </li>
         
      </ul>
      <ul class="navbar-nav  ">
        <li class="">
          <a class="nav-link text-danger" href="#">Hi,{{user}}</a>
        </li>
        <li class="">
          <a class="nav-link text-warning" href="{% url 'logout' %}">logout</a>
        </li>
        
      </ul>
      </div>
  </div>
</nav> 


<section class="banner section bg-registration overlay-dark" >
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">

				<div class="block">
				<div class=" ">
           <input type="submit" value ="Add +" data-toggle ="modal" data-target = "#modal_add" > 
        </div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--modal section-->
 <div class="modal" tabindex="-1" id="modal_add">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
            <p class = "text-danger ">Create Events...</p>
            <br>
            <br>
           <form action="{% url 'userprofile' %}" method="post">
           {% csrf_token %}
            <label for="event_name" class = "text-info ">Event Name: </label>
            <input id="event_name" type="text" name="event_name" placeholder =" enter event name here ...">
            <br>
            <br>
            <label for="desc" class = "text-info ">Description: </label>
            <input id="desc" type="text" name="description" placeholder =" description ...">
            <br>
            <br>
            <label for="memb" class = "text-info ">Member Count: </label>
            <input id="memb" type="text" name="no_of_members" placeholder =" no of members ...">
            <br>
            <br>
            
            <input type="submit" value="Save" style =" float:right">
            <button type="submit"   style =" float:left"><a href="{% url 'userprofile' %}">Cancel</a></button>


          </form>

      </div>
      {% comment %} <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> {% endcomment %}
    </div>
  </div>
</div>


{% endblock %}