{% extends 'index.html' %}
{% load static %}

{% block additional_styles %}
<title> Event_z </title>

{% endblock %}

{% block content %}

<!--navbar section start -->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">      
      <a class="navbar-brand" href="#">
        <p><b style="color:Red;font-size:50px;font-family: 'Times New Roman'">E</b><span style = "font-size : 35px;color:#561e87;font-family: 'Times New Roman'">VENT_Z </span></p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav">      
        <li class=" active" >
          <a class="nav-link " href="{% url 'home' %}">Home</a>         
        </li>         
      </ul>
      <ul class="navbar-nav  ">
        <li class="">
          <a class="nav-link text-danger" href="#">Hi,{{user}}</a>
        </li>
        <li class="">
          <a class="nav-link text-warning" href="{% url 'logout' %}">logout</a>
        </li>        
      </ul>
      </div>
  </div>
</nav> 
<!--navbar section end -->


<!--modal section start-->
<section class="banner section bg-registration overlay-dark" >
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<div class="block">
				<div class=" ">
           <button type="submit" class="btn btn-warning btn-lg"  data-toggle ="modal" data-target = "#modal_add" ><b>Add Event &nbsp;+</b></button>
        </div>
				</div>
			</div>
		</div>
	</div>
</section>
 <div class="modal" tabindex="-1" id="modal_add">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body text-center" style ="background-color :#032161">
            <p class = "text-warning h3 ">Create Events...</p>
            <br><br>
           <form action="{% url 'userprofile' %}" method="post">
           {% csrf_token %}
            <label for="event_name" class = "text-secondary ">Event Name: &nbsp; </label>
            <<div style="text-align: center;">
            <input id="event_name" type="text" name="event_name" class="w-75" placeholder =" enter event name here ..."></div>
            <br><br>
            <label for="desc" class = "text-secondary ">Description:&nbsp; </label>
            <div style="text-align: center;">
            <input id="desc" type="text"  name="description" class="w-75" placeholder =" description ..."></div>
            <br><br>
            <label for="memb" class = "text-secondary ">List of Members:&nbsp; </label>
            <div style="text-align: center;">
            <input id="memb" type="text" name="no_of_members" class="w-75"  placeholder =" no of members ..."></div>
            <br><br>   <br><br>            
            <button type="submit" name="save" class="btn btn-success btn-sm " style =" float:right"><a  class="text-white">Save</a></button>            
            <button type="button" name="cancel" class="btn btn-danger btn-sm " style =" float:left"><a href= "{% url 'userprofile' %}" class="text-white" >Cancel</a></button>

          </form>
      </div>     
    </div>
  </div>
</div>

<!--modal section end-->

{% endblock %}